@import Colors.sass

.nav
  margin-left: auto
  margin-right: 10%
  z-index: 3
  .home
    position: relative
    z-index: 3
    display: inline-block
    width: 33px
    height: 33px
    margin-right: 15px
    mask: url('../../images/svg/home.svg') no-repeat 50% 50%
    -webkit-mask: url('../../images/svg/home.svg') no-repeat 50% 50%
    mask-size: cover
    -webkit-marsk-size: cover
    transition: color 400ms
    background-color: rgb(152, 157, 161)
    cursor: pointer
    transition: 400ms
    &:hover
      background-color: #05fbff

.hamburger-menu
  display: inline-block
  height: 32px
  width: 32px
  cursor: pointer
  position: relative
  z-index: 3
  &:hover
    .line
      background-color: $hover_color
  .line
    position: absolute
    width: 100%
    height: 5px
    background-color: $normal-color
    border-radius: 10px
    transition: 300ms
    &.top
      margin-top: 4px
    &.mid
      margin-top: 13px
    &.bottom
      margin-top: 22px
  &.active
    .line
      &.top
        transform: rotate(-45deg)
        margin-top: 50%
      &.mid
        opacity: 0
      &.bottom
        transform: rotate(45deg)
        margin-top: 50%
.menu
  padding-left: 10%
  padding-right: 10%
  padding-bottom: 20px
  position: absolute
  padding-top: 62px
  min-height: 100vh
  width: 100vw
  left: 0
  z-index: 2
  display: flex
  justify-content: center
  // top: -100vh
  top: -200%
  // display: none
  transition: 300ms
  -webkit-backdrop-filter: blur(2px)
  backdrop-filter: blur(2px)
  background-color: rgba(31,31,31,.43)
  // position: fixed
  &.active
    top: 0
