@import mixins.sass
@import Colors.sass

.projects-view
  padding-top: 10px
  display: flex
  flex-direction: column
  align-items: center
  min-width: 100vw
  transition: 400ms
  +large-devices
    padding-right: 350px
  &.true
    filter: blur(10px)
  .projects-wrapper
    display: flex
    flex-wrap: wrap
    padding-top: 12px
    .project-box
      +medium-devices
        &:nth-child(2n+1)
          margin-left: 6.6666666%
          margin-right: 3.333333%
        &:nth-child(2n+2)
          margin-left: 3.333333%
          margin-right: 6.666666%
