@import mixins.sass
@import Colors.sass

.SideMenu
  transform: translateX(100%)
  width: 100vw
  z-index: 3
  &.true
    transform: translateX(0)
  a
    color: $normal-color
    background-color: rgba(31, 31, 31, .2)
    &:hover
      background-color: rgba(31, 31, 31, .4)
  +large-devices
    width: 350px
    transform: translateX(0)
  .laguagesquare-All
    width: 100%
  &:not(:hover).All .laguagesquare-All, .laguagesquare-All:hover
      border: 1px solid rgba(5, 251, 255, 0.1)
      background-color: rgba(5, 251, 255, 0.1)
  &:not(:hover).Java .laguagesquare-Java, .laguagesquare-Java:hover
      background-color: rgba(176, 114, 25, 0.15)
  &:not(:hover).Shell .laguagesquare-Shell, .laguagesquare-Shell:hover
      background-color: rgba(137, 224, 81, 0.15)
  &:not(:hover).Python .laguagesquare-Python, .laguagesquare-Python:hover
      background-color: rgba(53, 114, 165, 0.15)
  &:not(:hover).JavaScript .laguagesquare-JavaScript, .laguagesquare-JavaScript:hover
      background-color: rgba(241, 224, 90, 0.15)
  &:not(:hover).HTML .laguagesquare-HTML, .laguagesquare-HTML:hover
      background-color: rgba(227, 76, 38, 0.15)
  &:not(:hover).CSS .laguagesquare-CSS, .laguagesquare-CSS:hover
      background-color: rgba(86, 61, 124, 0.15)
  &:not(:hover).CoffeScript .laguagesquare-CoffeeScript, .laguagesquare-CoffeeScript:hover
      background-color: rgba(36, 71, 118, 0.15)
  .language
    background-color: rgba(31, 31, 31, .2)
    transition: 400ms
    &:nth-child(n):not(.laguagesquare-All)
      width: 50%
    &:nth-child(2n+2):last-child
      width: 100%
