.card-wrapper
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100vh
  width: 100vw
  font-family: "Barlow Semi Condensed", sans-serif
  color: #989DA1
  .card
    // TODO make configurable
    background-color: rgba(31, 31, 31, 0.6)
    min-width: 100px
    min-height: 100px
    padding: 40px 30px
    display: table
    text-align: center
    margin: auto
    .image
      border-radius: 100%
      margin: auto
      width: 125px
      height: 125px
      overflow: hidden
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 100%
    .title
      text-align: center
      font-size: 1.8rem
      font-weight: 400
      letter-spacing: .2rem
      margin: 10px auto 0px
    .sub-title
      text-align: center
      margin-bottom: 5px
      font-size: 1.2rem
      letter-spacing: .1rem
      font-weight: 200
  footer
    font-weight: 100
    margin-bottom: 3px
    font-size: .85rem
    a
      transition: 400ms
